<div class="modal fade" tabindex="-1" id="searchModal" style="display: none" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header p-3">

          <input type="text" id="search-input" name="search-input" class="form-control bg-transparent" tabindex=100	  placeholder="Use the Search, Luke" autocomplete="off" />

      </div>
      <div class="modal-body p-3">

	  </div>
    </div>
  </div>
</div>



<template id="search-result" hidden>
  <article class="content post">
	<nav>boo/ fac</nav>
    <h2 class="post-title"><a class="summary-title-link"></a></h2>
    <summary class="summary"></summary>
    <div class="read-more-container">
      <a class="read-more-link">Read More »</a>
    </div>
  </article>
</template>
