{{ $title := "" }}

{{ if .Page.Params.SeoTitle }}
  {{ $title = .Page.Params.SeoTitle }}
{{ else if .Page.Params.Menu }}
  {{ $title = .Page.Params.Menu }}
{{ else if .Page.Params.Title }}
  {{ $title = .Page.Params.Title }}
{{ else if .Content }}
  {{ $title = .Content }}
  {{ $title = (index (first 1 (split $title "\n")) 0)  }}
{{ else if .Title }}
  {{ $title = .Title }}
{{ end }}

{{ $title = (replaceRE "<[^>]*>" "" $title ) }}
{{ $title = safeHTML ($title) }}
{{ $title = transform.HTMLUnescape $title }}
{{ $title = replaceRE "<[^>]*>" "" $title }}
{{ $title = replaceRE "`" "" $title }}

{{ return $title }}
