{{ if . }}
  {{ template "header" . }}
{{ end }}

{{ define "header" }}
<header id="header" class="navbar navbar-expand-sm bd-navbar sticky-top">
	{{/* <nav class="container-fluid"> */}}

		<a class="navbar-brand d-none d-md-block fw-semibold fs-5 ls-wide ms-2 mb-0" href="/">
			<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 14h6v2h-6zM6.293 9.707 8.586 12l-2.293 2.293 1.414 1.414L11.414 12 7.707 8.293z"/><path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zM4 18V6h16l.002 12H4z"/></svg> todayilearned
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
				{{ $page := . }}
				{{ range .Site.Menus.main }}
					{{ $active := or ($page.IsMenuCurrent "global" .) (eq $page.Section .Identifier) (strings.Contains $page.Permalink .URL)  }}
					<li class="nav-item col-6 col-lg-auto {{ if $active }}active{{ end }}">
						<a class="nav-link py-1 px-2 px-lg-2 rounded-3 {{ if $active }}active{{ end }}" href="{{ .URL }}">{{ if .Page }}{{ .Page.Params.Menu }}{{ else }} {{ printf "%v" .Name }} {{ end }}</a>
					</li>
				{{ end -}}

				{{/* <li class="nav-item col-6 col-lg-auto">
					<a href="" class="nav-link py-0 px-2 px-lg-2 rounded-3 ">Lorem</a>
				</li>

				<li class="nav-item col-6 col-lg-auto hover">
					<a href="" class="nav-link py-0 px-2 px-lg-2 rounded-3 ">Ipsium</a>
				</li>

				<li class="nav-item col-6 col-lg-auto active hover">
					<a href="" class="nav-link py-0 px-2 px-lg-2 rounded-3 active">Dole Hover</a>
				</li>

				<li class="nav-item col-6 col-lg-auto active">
					<a href="" class="nav-link py-0 px-2 px-lg-2 rounded-3 active">Color</a>
				</li> */}}
			</ul>
		</div>
	{{/* </nav> */}}
</header>
{{ end }}
